
// Superfish menus
body {
  #superfish-1 {
    display: none;
  }
}

// Superfish Tablet
@media (min-width: 44em) {
  body {
    #superfish-1 {
      float: right;
      display: block;
    }

    // Hide mobile menu
    #block-menu-block-1 {
      display: none;
    }

    .sf-menu.sf-style-white .sf-sub-indicator {
      top: 1.5em;
    }

    .sf-menu.sf-style-white {
      margin: 0;
      background: #fff;
    }

    .sf-menu.sf-style-white li, .sf-menu.sf-style-white.sf-navbar {
      background: #fff;
    }

    .sf-menu.sf-style-white a {
      border: 0;
      color: #1f1f1f;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0;
    }

    .sf-menu li:hover > ul,
    .sf-menu li.sfHover > ul {
      top: 41px;
    }

    .sf-menu.sf-style-white > li {
      > a {
        letter-spacing: -1px;
        font-family: 'Glegoo', serif;
        font-size: 11px;
        padding: 15px 25px;
        background: url(../images/link-border.png) right center no-repeat;
      }

      > a:hover, > a.active {
        color: #333;
      }
    }

    // top level hover
    .sf-menu.sf-style-white li.active-trail {
      background: #a3d183;

      a {
        color: #fff;
        background: none;
      }
    }
    .sf-menu.sf-style-white li:hover,
    .sf-menu.sf-style-white li.sfHover,
    .sf-menu.sf-style-white li.active a,
    .sf-menu.sf-style-white a:focus,
    .sf-menu.sf-style-white a:hover,
    .sf-menu.sf-style-white a:active,
    .sf-menu.sf-style-white.sf-navbar li li {
      background: #c6bfb5;

      a {
        color: #333;
        background: none;
      }
    }

    .sf-menu.sf-style-white > li.last > a {
      background: none;
    }

    .sf-menu.sf-style-white li.sfHover li {
      a {
        background: #786f64;
        color: #fff;
      }

      a:hover, a.active {
        color: #f2c418;
      }
    }

    .sf-menu.sf-style-white li li {
      background: #786f64;

      .sf-sub-indicator {
        top: .8em;
      }

      a {
        color: #fff;
      }
    }
  }
}

@media (min-width: 46em) {
  body {
    .sf-menu li:hover > ul,
    .sf-menu li.sfHover > ul {
      top: 42px;
    }
    .sf-menu.sf-style-white > li {
      > a {
        font-size: 12px;
      }
    }
  }
}

@media (min-width: 52em) {
  .sf-menu li:hover > ul,
    .sf-menu li.sfHover > ul {
      top: 44px;
    }
  body {
    .sf-menu.sf-style-white > li {
      > a {
        font-size: 14px;
      }
    }
  }
}

// Superfish Desktop
@media (min-width: 61em) {
  body {
    .sf-menu li:hover > ul,
    .sf-menu li.sfHover > ul {
      top: 66px;
    }

    .sf-menu.sf-style-white > li {
      > a {
        font-size: 17px;
        padding: 25px 25px;
      }
    }
  }
}

// Breadcrumbs
.breadcrumb {
  margin: 0 0 20px;
}

// Tabs
ul.tabs {
  margin-top: 20px;
  li {
    a:hover {
      background: #333;
    }
  }
}

// Mobile menu
.tinynav {
  width: 80%;
  margin: 10px auto;
  border: 2px solid #3C3C3C;
}
