
// Override layout
body {
  .l-header, .l-main, .l-footer {
    max-width: 960px;
  }

  .l-header {
    text-align: center;

    .site-logo img {
      width: 50%;
    }
  }

  .l-region--navigation {
  }

  .l-footer {
    .block {
      background: #c6bfb5;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      .block__content {
        padding: 0 10px 0 15px;
        margin-bottom: 15px;
      }
    }

    #copyright {
      clear: both;
      text-align: center;
      margin-right: 15px;
      float: left;
      width: 100%;

      h5 {
        margin: 0;
      }
    }
  }

  // Location
  #block-block-3 {
    img {
      width: 56%;
    }
  }

  // Meeting Times
  #block-block-5 {
    p {
      margin: 0;
      padding: 0;
    }
  }

  // Social Icons
  #block-menu-menu-social-links {
    width: 80%;
    background: #a3d183;
    margin: 0 auto;
    height: 40px;

    .menu {
      margin: 0 auto;
      padding: 0;
      width: 100%;

      .leaf {
        list-style: none;
        display: inline;
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 20px;

        a {
          color: #fff;

          &:hover {
            color: #666;
          }
        }

        span.fa {
          display: block;
          float: left;
          width: 40px;
          text-align: center;
          margin-top: 11px;
        }

        span.link {
          display: none;
        }
      }
    }
  }

  // Search form
  #search-block-form {
    input.form-text {
      border: none;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      width: 80%;
      font: 12px/20px Arial, Helvetica, sans-serif;
      height: 40px;
      padding: 10px 55px 10px 15px;
      display: inline;
    }

    input.form-submit {
      background: #fff url(../images/search-icon.png) no-repeat center center;
      width: 40px;
      height: 40px;
      text-indent: -5000px;
      overflow: hidden;
      border: 0;
      display: inline;
      position: absolute;
      right: 10%;
    }

    input.form-submit:hover {
      background-color: #efefef;
    }
  }

  .l-page {
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #EFEFEF 80%, #4D9D45 200%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #EFEFEF 80%, #4D9D45 200%);

    /* Opera */
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #EFEFEF 80%, #4D9D45 200%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(.8, #EFEFEF), color-stop(2, #4D9D45));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #EFEFEF 80%, #4D9D45 200%);

    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to top, #FFFFFF 0%, #EFEFEF 80%, #4D9D45 200%);

  }

  .l-main {
    .block {
      margin-bottom: 15px;

      .block__content {
        background: #c6bfb5;
        padding: 15px 16px 29px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }

    .l-content article, .l-content .view-mode-full {
      background: #fff;
      padding: 15px 16px 29px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  @media (min-width: 44em) {
    .l-branding {
      width: 28%;
    }

    .l-header {
      text-align: center;

      .site-logo img {
        width: inherit;
        margin-top: 49px;
      }
    }

    .l-region--header {
      margin: 60px 0 40px;
      width: 69%;

      .block {
        float: right;
      }
    }
    .l-region--navigation {
      clear: right;
      float: right;
      width: 69%;
    }

    .l-footer {
      .block {
        width: 32%;
        float: left;
        margin-right: 2%;
        //min-height: 212px;
      }
      .block:last-child {
        margin-right: 0;
      }

      #copyright {
        margin-top: 20px;
      }
    }

    .l-main {
      .block {
        margin-bottom: 30px;
      }
    }

    // Search form
    #search-block-form {
      input.form-text {
        display: block;
        float: left;
        width: 200px;
        border-radius: 0;
      }

      input.form-submit {
        position: static;
        right: 0;
        border-radius: 0;
      }
    }

    // Social Icons
    #block-menu-menu-social-links {
      width: 204px;
      margin: 0;

      .menu {
        margin: 0;
      }
    }
  }
  @media (min-width: 70em) {
    .l-branding {
      width: 28%;
    }

    // Search form
    #search-block-form {
      input.form-text {
        width: 300px;
      }
    }
  }
}

.not-front .l-content .view {
  padding: 1em;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.l-content .pane-content .field--name-body {
  background: #fff;
  padding: 1em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.flexslider {
  //margin-bottom: 30px;
}

// Sidebar 'more' button
.l-region--sidebar-second {
  .view-footer {
    text-align: center;
    padding: .5em;
    background: #333;
    margin-top: 15px;

    a.more {
      display: block;
      color: #fff;

      &:hover {
        color: #f2c418;
      }
    }
  }
}