body {
  //color: #b5b5b5;
  color: #333;
  font: 12px/20px Arial, Helvetica, sans-serif;
  background: #fff;
}

body.front #main-title-wrapper {
  display: none;
}

.title-wrapper {
  background: #fff;
  margin-bottom: 20px;

  h1, h2, h3 {
    background: #786f64;
    display: inline-block;
    padding: 4px 15px 6px;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    font-family: 'Glegoo', serif;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
  }
}

a {
	text-decoration: none;
	color: #786f64;
	outline: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

a:hover {
	color: #84ced7;
}