/* No files to import found in abstractions/**\/* */
/* line 2, ../sass/base/_forms.scss */
.node--webform--full input.form-text {
  width: 100%; }

@media (min-width: 44em) {
  /* line 7, ../sass/base/_forms.scss */
  .node--webform--full input.form-text {
    width: inherit; } }
/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 1, ../sass/base/_typography.scss */
body {
  color: #333;
  font: 13px/20px Arial, Helvetica, sans-serif;
  background: #fff; }

/* line 8, ../sass/base/_typography.scss */
body.front #main-title-wrapper {
  display: none; }

/* line 12, ../sass/base/_typography.scss */
.title-wrapper {
  background: #fff; }
  /* line 16, ../sass/base/_typography.scss */
  .title-wrapper h1, .title-wrapper h2, .title-wrapper h3 {
    background: #786f64;
    padding: 4px 15px 6px;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    font-family: 'Glegoo', serif;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0; }
  /* line 29, ../sass/base/_typography.scss */
  .title-wrapper h1 {
    margin-bottom: 20px;
    background: #4d9d45; }

/* line 35, ../sass/base/_typography.scss */
a {
  text-decoration: none;
  color: #786f64;
  outline: none;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease; }

/* line 44, ../sass/base/_typography.scss */
a:hover {
  color: #a3d183; }

/* line 48, ../sass/base/_typography.scss */
.block a:hover {
  color: #333; }

/* line 52, ../sass/base/_typography.scss */
footer {
  font-size: .9em; }

/* line 4, ../sass/components/_navigation.scss */
body #superfish-1 {
  display: none; }

@media (min-width: 44em) {
  /* line 12, ../sass/components/_navigation.scss */
  body #superfish-1 {
    float: right;
    display: block; }
  /* line 18, ../sass/components/_navigation.scss */
  body #block-menu-block-1 {
    display: none; }
  /* line 22, ../sass/components/_navigation.scss */
  body .sf-menu.sf-style-white .sf-sub-indicator {
    top: 1.5em; }
  /* line 26, ../sass/components/_navigation.scss */
  body .sf-menu.sf-style-white {
    margin: 0;
    background: #fff; }
  /* line 31, ../sass/components/_navigation.scss */
  body .sf-menu.sf-style-white li, body .sf-menu.sf-style-white.sf-navbar {
    background: #fff; }
  /* line 35, ../sass/components/_navigation.scss */
  body .sf-menu.sf-style-white a {
    border: 0;
    color: #1f1f1f;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0; }
  /* line 44, ../sass/components/_navigation.scss */
  body .sf-menu li:hover > ul,
  body .sf-menu li.sfHover > ul {
    top: 4.5em; }
  /* line 49, ../sass/components/_navigation.scss */
  body .sf-menu.sf-style-white > li > a {
    letter-spacing: -1px;
    font-family: 'Glegoo', serif;
    font-size: 11px;
    padding: 15px 25px;
    background: url(../images/link-border.png) right center no-repeat; }
  /* line 57, ../sass/components/_navigation.scss */
  body .sf-menu.sf-style-white > li > a:hover, body .sf-menu.sf-style-white > li > a.active {
    color: #333; }
  /* line 63, ../sass/components/_navigation.scss */
  body .sf-menu.sf-style-white li.active-trail {
    background: #a3d183; }
    /* line 66, ../sass/components/_navigation.scss */
    body .sf-menu.sf-style-white li.active-trail a {
      color: #fff;
      background: none; }
  /* line 77, ../sass/components/_navigation.scss */
  body .sf-menu.sf-style-white li:hover,
  body .sf-menu.sf-style-white li.sfHover,
  body .sf-menu.sf-style-white li.active a,
  body .sf-menu.sf-style-white a:focus,
  body .sf-menu.sf-style-white a:hover,
  body .sf-menu.sf-style-white a:active,
  body .sf-menu.sf-style-white.sf-navbar li li {
    background: #c6bfb5; }
    /* line 80, ../sass/components/_navigation.scss */
    body .sf-menu.sf-style-white li:hover a,
    body .sf-menu.sf-style-white li.sfHover a,
    body .sf-menu.sf-style-white li.active a a,
    body .sf-menu.sf-style-white a:focus a,
    body .sf-menu.sf-style-white a:hover a,
    body .sf-menu.sf-style-white a:active a,
    body .sf-menu.sf-style-white.sf-navbar li li a {
      color: #333;
      background: none; }
  /* line 86, ../sass/components/_navigation.scss */
  body .sf-menu.sf-style-white > li.last > a {
    background: none; }
  /* line 91, ../sass/components/_navigation.scss */
  body .sf-menu.sf-style-white li.sfHover li a {
    background: #786f64;
    color: #fff; }
  /* line 96, ../sass/components/_navigation.scss */
  body .sf-menu.sf-style-white li.sfHover li a:hover, body .sf-menu.sf-style-white li.sfHover li a.active {
    color: #f2c418; }
  /* line 101, ../sass/components/_navigation.scss */
  body .sf-menu.sf-style-white li li {
    background: #786f64; }
    /* line 104, ../sass/components/_navigation.scss */
    body .sf-menu.sf-style-white li li .sf-sub-indicator {
      top: .8em; }
    /* line 108, ../sass/components/_navigation.scss */
    body .sf-menu.sf-style-white li li a {
      color: #fff; } }
@media (min-width: 46em) {
  /* line 118, ../sass/components/_navigation.scss */
  body .sf-menu.sf-style-white > li > a {
    font-size: 12px; } }
@media (min-width: 52em) {
  /* line 128, ../sass/components/_navigation.scss */
  body .sf-menu.sf-style-white > li > a {
    font-size: 14px; } }
@media (min-width: 61em) {
  /* line 139, ../sass/components/_navigation.scss */
  body .sf-menu.sf-style-white > li > a {
    font-size: 17px;
    padding: 25px 25px; } }
/* line 148, ../sass/components/_navigation.scss */
.breadcrumb {
  margin: 0 0 20px; }

/* line 153, ../sass/components/_navigation.scss */
ul.tabs {
  margin-top: 20px; }
  /* line 156, ../sass/components/_navigation.scss */
  ul.tabs li a:hover {
    background: #333; }

/* line 163, ../sass/components/_navigation.scss */
.tinynav {
  width: 80%;
  margin: 10px auto;
  border: 2px solid #3C3C3C; }

/* Openchurch features
/-------------------------------------------------------------- */
/*************************************
  Member links
*************************************/
/* line 7, ../sass/components/_openchurch-features.scss */
.member-links {
  position: absolute;
  top: 10px;
  right: 0;
  width: auto; }

/* line 13, ../sass/components/_openchurch-features.scss */
.member-links ul {
  text-align: right; }

/* line 16, ../sass/components/_openchurch-features.scss */
.member-links ul a {
  color: #557b6e; }

/*************************************
  View map directions
*************************************/
/* line 21, ../sass/components/_openchurch-features.scss */
body .block.view-map-directions .inner {
  padding: 1px 12px 0;
  font-size: 1.3em; }

/*************************************
  Latest Podcast Block
*************************************/
/* line 29, ../sass/components/_openchurch-features.scss */
#block-views-openchurch-latest-podcast-block .views-field-title {
  font-weight: bold; }
/* line 33, ../sass/components/_openchurch-features.scss */
#block-views-openchurch-latest-podcast-block img {
  float: left;
  margin-right: 12px; }

/*************************************
  Podcasts
*************************************/
/* line 43, ../sass/components/_openchurch-features.scss */
.openchurch-podcasts h3.title {
  background: #c6bfb5;
  margin: 0;
  padding: 10px 13px; }

/* line 47, ../sass/components/_openchurch-features.scss */
.openchurch-podcasts .view-content {
  padding-top: 1em; }

/* line 48, ../sass/components/_openchurch-features.scss */
.openchurch-podcasts .views-row {
  padding-left: 95px;
  position: relative;
  margin-bottom: 1em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1em; }

/* line 53, ../sass/components/_openchurch-features.scss */
.openchurch-podcasts .date {
  font-size: 1.2em;
  position: absolute;
  left: 0;
  top: 2px; }

/* line 58, ../sass/components/_openchurch-features.scss */
.openchurch-podcasts .views-field-field-oc-audio,
.openchurch-podcasts .views-field-title-1 {
  font-weight: bold;
  background: #efefef;
  padding: .2em .4em;
  margin-top: 5px; }
  /* line 63, ../sass/components/_openchurch-features.scss */
  .openchurch-podcasts .views-field-field-oc-audio a,
  .openchurch-podcasts .views-field-title-1 a {
    display: block;
    font-size: 14px;
    text-align: center; }

/* line 70, ../sass/components/_openchurch-features.scss */
.openchurch-podcasts .views-field-title-1 {
  background: #a3d183; }
  /* line 73, ../sass/components/_openchurch-features.scss */
  .openchurch-podcasts .views-field-title-1 a {
    color: #fff; }
  /* line 77, ../sass/components/_openchurch-features.scss */
  .openchurch-podcasts .views-field-title-1 a:hover {
    color: #333; }

/* line 82, ../sass/components/_openchurch-features.scss */
.openchurch-podcasts .views-field-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: .3em; }

/* line 86, ../sass/components/_openchurch-features.scss */
.openchurch-podcasts .views-field-field-oc-author {
  font-size: 1.1em;
  margin-bottom: .3em;
  color: #333; }

/* line 89, ../sass/components/_openchurch-features.scss */
.openchurch-podcasts .views-field-body {
  margin-bottom: .3em; }

/* line 92, ../sass/components/_openchurch-features.scss */
.openchurch-podcasts .views-field-body span.views-label {
  font-weight: bold; }

@media (min-width: 44em) {
  /* line 99, ../sass/components/_openchurch-features.scss */
  .openchurch-podcasts .views-field-field-oc-audio {
    position: absolute;
    top: 30px;
    right: 0; }

  /* line 103, ../sass/components/_openchurch-features.scss */
  .openchurch-podcasts .views-field-title-1 {
    position: absolute;
    top: 0;
    right: 0; } }
/* line 110, ../sass/components/_openchurch-features.scss */
.node--openchurch-podcast .field--name-field-oc-image {
  display: inline; }
  /* line 113, ../sass/components/_openchurch-features.scss */
  .node--openchurch-podcast .field--name-field-oc-image div {
    display: inline; }
  /* line 117, ../sass/components/_openchurch-features.scss */
  .node--openchurch-podcast .field--name-field-oc-image img {
    float: left;
    margin: 0 10px 10px 0; }
/* line 123, ../sass/components/_openchurch-features.scss */
.node--openchurch-podcast .field--name-body {
  clear: both;
  margin-top: 10px; }
/* line 128, ../sass/components/_openchurch-features.scss */
.node--openchurch-podcast .jp-audio {
  width: 100%; }
  /* line 131, ../sass/components/_openchurch-features.scss */
  .node--openchurch-podcast .jp-audio a {
    transition: inherit;
    -o-transition: inherit;
    -webkit-transition: inherit; }
  /* line 137, ../sass/components/_openchurch-features.scss */
  .node--openchurch-podcast .jp-audio .jp-mute, .node--openchurch-podcast .jp-audio .jp-volume-bar {
    display: none; }

@media (min-width: 44em) {
  /* line 146, ../sass/components/_openchurch-features.scss */
  body .node--openchurch-podcast .jp-audio {
    width: 420px; }
    /* line 149, ../sass/components/_openchurch-features.scss */
    body .node--openchurch-podcast .jp-audio .jp-mute, body .node--openchurch-podcast .jp-audio .jp-volume-bar {
      display: inline; } }
/*************************************
  Giving List
*************************************/
/* line 161, ../sass/components/_openchurch-features.scss */
.openchurch-giving-list h3.title {
  background: #c6bfb5;
  margin: 0;
  padding: 10px 13px; }

/* line 165, ../sass/components/_openchurch-features.scss */
.openchurch-giving-list .views-row {
  padding-left: 230px;
  position: relative;
  min-height: 120px;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #ccc; }

/* line 169, ../sass/components/_openchurch-features.scss */
.openchurch-giving-list .views-field-field-oc-image {
  position: absolute;
  left: 0;
  top: 0; }

/* line 172, ../sass/components/_openchurch-features.scss */
.openchurch-giving-list .views-field-view-node {
  font-style: italic; }

/* line 175, ../sass/components/_openchurch-features.scss */
.openchurch-giving-list .views-field-title-1 {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: .3em; }

/*************************************
  Bulletin List
*************************************/
/* line 183, ../sass/components/_openchurch-features.scss */
.openchurch-bulletin-list h3.title {
  background: #c6bfb5;
  margin: 0 0 1em;
  padding: 10px 13px; }

/* line 187, ../sass/components/_openchurch-features.scss */
.openchurch-bulletin-list .view-content {
  padding-top: .3em; }

/* line 188, ../sass/components/_openchurch-features.scss */
.openchurch-bulletin-list .views-field-field-oc-bulletin-file {
  font-style: italic; }

/* line 189, ../sass/components/_openchurch-features.scss */
.openchurch-bulletin-list .views-row {
  margin-bottom: .3em;
  padding-left: .5em; }

/*************************************
  Latest Blog List
*************************************/
/* line 194, ../sass/components/_openchurch-features.scss */
.openchurch-latest-blogs-list {
  position: relative; }

/* line 197, ../sass/components/_openchurch-features.scss */
.openchurch-latest-blogs-list .view-header a {
  position: absolute;
  top: -.2em;
  right: 0;
  background: #efefef;
  padding: .2em .4em; }

/* line 202, ../sass/components/_openchurch-features.scss */
.openchurch-latest-blogs-list .views-row {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc; }

/* line 205, ../sass/components/_openchurch-features.scss */
.openchurch-latest-blogs-list .views-field-title {
  font-size: 1.5em;
  font-style: italic;
  margin-bottom: .3em; }

/* line 208, ../sass/components/_openchurch-features.scss */
.openchurch-latest-blogs-list .views-exposed-form {
  margin-top: .3em; }

/* line 210, ../sass/components/_openchurch-features.scss */
.openchurch-latest-blogs-list .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 2px;
  float: left;
  margin-left: 5px;
  border: 0;
  background: #ddd;
  font-size: .8em; }

/* line 213, ../sass/components/_openchurch-features.scss */
.openchurch-latest-blogs-list .views-exposed-form label {
  float: left;
  margin-right: .2em;
  position: relative;
  top: .2em; }

/* line 214, ../sass/components/_openchurch-features.scss */
.openchurch-latest-blogs-list .views-exposed-form .views-exposed-widget {
  margin: 0;
  padding: 0; }

/* line 215, ../sass/components/_openchurch-features.scss */
.openchurch-latest-blogs-list #edit-blog-tid-wrapper {
  float: left;
  width: 260px;
  margin-left: .3em; }

/* line 218, ../sass/components/_openchurch-features.scss */
.openchurch-latest-blogs-list #edit-blog-tid {
  width: 150px;
  position: relative;
  top: .1em; }

/* line 221, ../sass/components/_openchurch-features.scss */
.openchurch-latest-blogs-list .views-widget {
  display: inline; }

/* line 222, ../sass/components/_openchurch-features.scss */
.openchurch-latest-blogs-list .view-filters {
  text-align: right;
  position: relative;
  top: -43px;
  float: right; }

/*************************************
  Blog Archives List
*************************************/
/* line 231, ../sass/components/_openchurch-features.scss */
.openchurch-blog-archives-list li.views-row {
  list-style-type: square;
  font-size: 1.2em;
  margin-bottom: .2em; }

/* line 235, ../sass/components/_openchurch-features.scss */
.openchurch-blog-archives-list .item-list ul {
  margin: .5em .5em 1em 1.5em; }

/* line 238, ../sass/components/_openchurch-features.scss */
.openchurch-blog-archives-list .item-list h3 {
  font-size: 1.3em;
  padding-top: .3em; }

/*************************************
  Blog Archives List
*************************************/
/* line 246, ../sass/components/_openchurch-features.scss */
#block-views-openchurch-latest-blogs-block-1 .views-field-title {
  font-size: 1.3em; }
/* line 250, ../sass/components/_openchurch-features.scss */
#block-views-openchurch-latest-blogs-block-1 .views-row {
  border-bottom-color: #999; }
/* line 254, ../sass/components/_openchurch-features.scss */
#block-views-openchurch-latest-blogs-block-1 .views-row-last {
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0; }

/*************************************
  Galleries List
*************************************/
/* line 266, ../sass/components/_openchurch-features.scss */
.openchurch-galleries-list .view-content {
  padding-top: 1em; }

/* line 267, ../sass/components/_openchurch-features.scss */
.openchurch-galleries-list .views-row {
  padding-left: 195px;
  position: relative;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
  min-height: 120px; }

/* line 272, ../sass/components/_openchurch-features.scss */
.openchurch-galleries-list .views-field-field-oc-thumb {
  position: absolute;
  top: 0;
  left: 0; }

/* line 275, ../sass/components/_openchurch-features.scss */
.openchurch-galleries-list .views-field-field-oc-thumb img {
  border: 5px solid #efefef; }

/* line 278, ../sass/components/_openchurch-features.scss */
.openchurch-galleries-list .views-field-title {
  font-size: 1.4em;
  margin-bottom: .3em; }

/* line 281, ../sass/components/_openchurch-features.scss */
.openchurch-galleries-list span.views-label {
  font-weight: bold; }

/* line 282, ../sass/components/_openchurch-features.scss */
.openchurch-galleries-list .views-field-nid {
  position: absolute;
  top: 0;
  right: 0; }

/* line 285, ../sass/components/_openchurch-features.scss */
.openchurch-galleries-list .views-field-nid a {
  padding: .2em .4em;
  background: #efefef;
  display: block; }

/*************************************
  Random Gallery Block
*************************************/
/* line 294, ../sass/components/_openchurch-features.scss */
#block-views-openchurch-galleries-block-1 .block__content {
  padding-bottom: 19px; }
/* line 298, ../sass/components/_openchurch-features.scss */
#block-views-openchurch-galleries-block-1 .views-field-title {
  font-size: 1.1em; }
/* line 301, ../sass/components/_openchurch-features.scss */
#block-views-openchurch-galleries-block-1 .views-field-field-oc-thumb {
  text-align: center;
  margin-top: 10px; }
  /* line 305, ../sass/components/_openchurch-features.scss */
  #block-views-openchurch-galleries-block-1 .views-field-field-oc-thumb img {
    border: 3px solid #999; }
/* line 310, ../sass/components/_openchurch-features.scss */
#block-views-openchurch-galleries-block-1 .view-footer {
  text-align: center;
  padding: .5em;
  background: #333;
  margin-top: 10px; }
  /* line 316, ../sass/components/_openchurch-features.scss */
  #block-views-openchurch-galleries-block-1 .view-footer a.more {
    display: block;
    color: #fff; }
    /* line 320, ../sass/components/_openchurch-features.scss */
    #block-views-openchurch-galleries-block-1 .view-footer a.more:hover {
      color: #f2c418; }

/*************************************
  Gallery Photos
*************************************/
/* line 332, ../sass/components/_openchurch-features.scss */
.openchurch-gallery-photos .view {
  position: relative; }

/* line 333, ../sass/components/_openchurch-features.scss */
.openchurch-gallery-photos .view-header h2 {
  border-bottom: 1px solid #333;
  padding-bottom: .4em;
  font-style: italic; }

/* line 337, ../sass/components/_openchurch-features.scss */
.openchurch-gallery-photos .view-header a.back-to-galleries {
  position: absolute;
  top: 0;
  right: 0;
  background: #efefef;
  padding: .2em .4em; }

/* line 341, ../sass/components/_openchurch-features.scss */
.openchurch-gallery-photos .view-footer {
  text-align: right;
  margin-top: 1.5em; }

/* line 342, ../sass/components/_openchurch-features.scss */
.openchurch-gallery-photos .view-footer a.back-to-galleries {
  padding: .2em .4em;
  background: #efefef;
  display: block;
  float: right; }

/* line 345, ../sass/components/_openchurch-features.scss */
.openchurch-gallery-photos span.views-label {
  font-weight: bold; }

/* line 346, ../sass/components/_openchurch-features.scss */
.openchurch-gallery-photos .views-field-field-oc-images img {
  border: 3px solid #ccc; }

/* line 349, ../sass/components/_openchurch-features.scss */
.openchurch-gallery-photos table.views-view-grid {
  margin-top: 1.5em; }

/*************************************
  Events List
*************************************/
/* line 355, ../sass/components/_openchurch-features.scss */
.openchurch-events-list {
  position: relative; }

/* line 358, ../sass/components/_openchurch-features.scss */
.openchurch-events-list h3.title {
  border-bottom: 1px solid #333;
  padding-bottom: .4em;
  font-style: italic;
  margin-top: 1em; }

/* line 363, ../sass/components/_openchurch-features.scss */
.openchurch-events-list .views-row {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
  padding-left: 85px;
  position: relative; }

/* line 367, ../sass/components/_openchurch-features.scss */
.openchurch-events-list .views-field-title {
  font-size: 1.5em;
  font-style: italic;
  margin-bottom: .3em;
  width: 65%; }

/* line 371, ../sass/components/_openchurch-features.scss */
.openchurch-events-list .date {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.5em;
  color: #333; }

/* line 375, ../sass/components/_openchurch-features.scss */
.openchurch-events-list .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 2px;
  float: left;
  margin-left: 5px;
  border: 0;
  background: #ddd;
  font-size: .8em; }

/* line 378, ../sass/components/_openchurch-features.scss */
.openchurch-events-list .views-exposed-form label {
  float: left;
  margin-right: .2em;
  position: relative;
  top: .2em; }

/* line 379, ../sass/components/_openchurch-features.scss */
.openchurch-events-list .views-exposed-form .views-exposed-widget {
  margin: 0;
  padding: 0; }

/* line 381, ../sass/components/_openchurch-features.scss */
.openchurch-events-list #edit-oc-ministry-nid-wrapper {
  float: left;
  width: 250px;
  margin-left: .3em; }

/* line 384, ../sass/components/_openchurch-features.scss */
.openchurch-events-list #edit-oc-ministry-nid {
  width: 150px;
  position: relative;
  top: .1em; }

/* line 387, ../sass/components/_openchurch-features.scss */
.openchurch-events-list .views-widget {
  display: inline; }

/* line 388, ../sass/components/_openchurch-features.scss */
.openchurch-events-list .view-filters {
  text-align: right;
  position: relative;
  top: -33px;
  float: right; }

/* line 391, ../sass/components/_openchurch-features.scss */
.openchurch-events-list .views-field-field-oc-dates-1 {
  display: block;
  clear: left; }

/* line 393, ../sass/components/_openchurch-features.scss */
.openchurch-events-list span.views-label {
  font-weight: bold; }

/* line 394, ../sass/components/_openchurch-features.scss */
.openchurch-events-list .views-field-php {
  position: absolute;
  top: 0;
  right: 0; }

/* line 398, ../sass/components/_openchurch-features.scss */
.openchurch-events-list .views-field-php a {
  padding: .2em .4em;
  float: right;
  margin-left: .4em; }

/* line 402, ../sass/components/_openchurch-features.scss */
.openchurch-events-list .more-details a {
  background: #75b0c0;
  color: #fff; }

/* line 403, ../sass/components/_openchurch-features.scss */
.openchurch-events-list .register-online a {
  background: #8cc5b2;
  color: #fff; }

/*************************************
  Event Calendar
*************************************/
/* line 409, ../sass/components/_openchurch-features.scss */
.openchurch-events-calendar ul.pager a {
  border-style: none;
  padding: 0; }

/* line 413, ../sass/components/_openchurch-features.scss */
.openchurch-events-calendar ul.pager a:hover {
  background: none; }

/*************************************
  Event Detail Page
*************************************/
/* line 418, ../sass/components/_openchurch-features.scss */
#openchurch-event-detail {
  padding-top: .5em;
  position: relative;
  padding-bottom: 3em; }

/* line 422, ../sass/components/_openchurch-features.scss */
#openchurch-event-detail .event-details h2.pane-title {
  background: #c6bfb5;
  margin: 1em 0 0;
  padding: 10px 13px; }

/* line 426, ../sass/components/_openchurch-features.scss */
#openchurch-event-detail div.panels-ipe-display-container .event-details h2.pane-title {
  padding: 10px 13px; }

/* line 429, ../sass/components/_openchurch-features.scss */
#openchurch-event-detail .event-highlights {
  min-height: 150px; }

/* line 433, ../sass/components/_openchurch-features.scss */
#openchurch-event-detail .ministry-thumb img {
  border: 3px solid #ccc;
  float: right;
  margin-top: 2.4em; }

/* line 437, ../sass/components/_openchurch-features.scss */
#openchurch-event-detail .event-title {
  border-bottom: 1px solid #333;
  padding-bottom: .2em;
  font-style: italic;
  font-size: 1.5em;
  margin-bottom: .5em; }

/* line 442, ../sass/components/_openchurch-features.scss */
#openchurch-event-detail .field-type-addressfield .field-label {
  clear: left; }

/* line 446, ../sass/components/_openchurch-features.scss */
#openchurch-event-detail .register-online {
  position: inherit; }

/* line 449, ../sass/components/_openchurch-features.scss */
#openchurch-event-detail .register-online .pane-content a {
  background: #8cc5b2;
  color: #fff;
  padding: .2em .4em;
  margin-left: .4em;
  display: block;
  position: absolute;
  bottom: 0;
  right: .5em; }

/* line 454, ../sass/components/_openchurch-features.scss */
#openchurch-event-detail .back-to-list a {
  background: #75b0c0;
  color: #fff;
  padding: .2em .4em;
  margin-left: .4em;
  display: block;
  position: absolute;
  top: -1em;
  right: .5em; }

/* line 459, ../sass/components/_openchurch-features.scss */
#openchurch-event-detail .related-downloads {
  padding-top: 1em; }

/* line 460, ../sass/components/_openchurch-features.scss */
#openchurch-event-detail .related-downloads a {
  font-style: italic; }

/*************************************
  Ministries Intro
*************************************/
/*************************************
  Ministries List
*************************************/
/* line 474, ../sass/components/_openchurch-features.scss */
.openchurch-ministries-list {
  position: relative; }

/* line 478, ../sass/components/_openchurch-features.scss */
.openchurch-ministries-list .views-row {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
  position: relative;
  min-height: 100px; }

/* line 482, ../sass/components/_openchurch-features.scss */
.openchurch-ministries-list .views-field-title {
  font-size: 1.5em;
  font-style: italic;
  margin-bottom: .4em; }

/* line 485, ../sass/components/_openchurch-features.scss */
.openchurch-ministries-list .views-field-field-oc-thumb {
  float: left; }

/* line 488, ../sass/components/_openchurch-features.scss */
.openchurch-ministries-list .views-field-field-oc-thumb img {
  border: 2px solid #ccc;
  margin: 0 10px 10px 0; }

/* line 492, ../sass/components/_openchurch-features.scss */
.openchurch-ministries-list .views-field-nid a {
  position: absolute;
  top: 0;
  right: 0;
  background: #efefef;
  padding: .2em .4em; }

/*************************************
  Ministries Detail Page
*************************************/
/* line 500, ../sass/components/_openchurch-features.scss */
#openchurch-ministry-detail .ministry-image img {
  border: 3px solid #efefef; }

/* line 502, ../sass/components/_openchurch-features.scss */
#openchurch-ministry-detail .ministry-contacts .pane-block {
  margin: 1em 0; }

/* line 506, ../sass/components/_openchurch-features.scss */
#openchurch-ministry-detail .ministry-contacts h2.pane-title,
#openchurch-ministry-detail .ministry-galleries h2.pane-title {
  padding: 10px 13px;
  background: #c6bfb5;
  border-bottom: 1px solid #A6BE80;
  margin: 0; }

/* line 510, ../sass/components/_openchurch-features.scss */
#openchurch-ministry-detail .ministry-contacts .pane-content {
  background: #F9F9F9;
  padding: 10px; }

/* line 515, ../sass/components/_openchurch-features.scss */
#openchurch-ministry-detail .upcoming-events,
#openchurch-ministry-detail .ministry-downloads {
  margin-bottom: 1em; }

/* line 519, ../sass/components/_openchurch-features.scss */
#openchurch-ministry-detail .upcoming-events h2.pane-title,
#openchurch-ministry-detail .ministry-downloads h2.pane-title {
  background: whiteSmoke;
  border-bottom-color: #EFEFEF;
  padding: 10px 13px;
  margin: 0; }

/* line 525, ../sass/components/_openchurch-features.scss */
#openchurch-ministry-detail .upcoming-events .pane-content,
#openchurch-ministry-detail .ministry-downloads .pane-content {
  background: #F9F9F9;
  padding: 10px; }

/* line 529, ../sass/components/_openchurch-features.scss */
#openchurch-ministry-detail .register-online .pane-content a {
  background: #d6edf5;
  display: block;
  padding: .4em .6em;
  font-size: 1.2em; }

/*************************************
  Staff List
*************************************/
/* line 540, ../sass/components/_openchurch-features.scss */
.openchurch-staff-list .view-content h3 {
  font-style: italic;
  border-bottom: 1px solid #000;
  padding-bottom: .3em;
  font-size: 1.3em;
  margin-bottom: .8em;
  margin-top: 1em; }

/* line 544, ../sass/components/_openchurch-features.scss */
.openchurch-staff-list .staff-type {
  margin-bottom: 30px;
  border-bottom: 1px dotted #333;
  padding-bottom: .5em; }

/* line 547, ../sass/components/_openchurch-features.scss */
.openchurch-staff-list .staff-type .views-field-title {
  font-size: 1.3em;
  padding-right: .3em; }

/* line 548, ../sass/components/_openchurch-features.scss */
.openchurch-staff-list .staff-type .views-field-field-oc-position-value {
  font-style: italic;
  padding-right: .3em; }

/* line 549, ../sass/components/_openchurch-features.scss */
.openchurch-staff-list .staff-type .views-field-field-oc-email-email {
  padding-right: .3em; }

/* line 550, ../sass/components/_openchurch-features.scss */
.openchurch-staff-list .staff-type .views-field-teaser {
  padding-top: .5em; }

/* line 551, ../sass/components/_openchurch-features.scss */
.openchurch-staff-list .staff-type .views-field-field-oc-image img {
  float: left;
  margin: 0 10px 10px 0;
  border: 2px solid #ccc; }

/* line 554, ../sass/components/_openchurch-features.scss */
.openchurch-staff-list .staff-type .views-field-markup {
  clear: both; }

/* line 557, ../sass/components/_openchurch-features.scss */
.openchurch-staff-list h3.title {
  background: #c6bfb5;
  margin: 0;
  padding: 10px 13px; }

/*************************************
  Staff Jump List
*************************************/
/* line 566, ../sass/components/_openchurch-features.scss */
.openchurch-jump-list {
  margin: 1em 10px 3em 25px; }

/* line 567, ../sass/components/_openchurch-features.scss */
.openchurch-jump-list .item-list li {
  margin-bottom: .3em; }

/*************************************
  Staff Detail
*************************************/
/* line 576, ../sass/components/_openchurch-features.scss */
#openchurch-staff-detail .title {
  font-size: 1.5em;
  margin-bottom: .5em; }

/* line 579, ../sass/components/_openchurch-features.scss */
#openchurch-staff-detail .position {
  font-style: italic;
  margin-bottom: .5em;
  font-size: 1.1em; }

/* line 582, ../sass/components/_openchurch-features.scss */
#openchurch-staff-detail .staff-image img {
  float: right;
  border: 3px solid #ccc; }

/* line 585, ../sass/components/_openchurch-features.scss */
#openchurch-staff-detail .about-me {
  margin-top: 1em; }

/*************************************
  Homepage Rotator
*************************************/
/* line 590, ../sass/components/_openchurch-features.scss */
#openchurch-homepage-rotator div.view-openchurch-homepage-rotator {
  position: relative;
  z-index: 1; }

/* line 593, ../sass/components/_openchurch-features.scss */
#openchurch-homepage-rotator .views-slideshow-controls-top {
  position: absolute;
  bottom: 20px;
  right: 2.5%;
  z-index: 100;
  text-align: right; }

/* line 596, ../sass/components/_openchurch-features.scss */
#openchurch-homepage-rotator .views-slideshow-controls-top div {
  display: inline; }

/* line 597, ../sass/components/_openchurch-features.scss */
#openchurch-homepage-rotator .views-slideshow-controls-top .views-content-counter {
  background: #efefef;
  font-weight: bold;
  padding: .2em .6em;
  cursor: pointer;
  margin-left: 7px;
  display: inline-block; }

/* line 601, ../sass/components/_openchurch-features.scss */
#openchurch-homepage-rotator .views-slideshow-controls-top .active .views-content-counter {
  background: #bbb; }

/* line 606, ../sass/components/_openchurch-features.scss */
#openchurch-homepage-rotator .views-field-field-oc-image img {
  width: 100%;
  height: auto; }
/* line 611, ../sass/components/_openchurch-features.scss */
#openchurch-homepage-rotator h3 {
  margin: 0;
  padding: .5em;
  font-size: 20px;
  background: #333;
  color: #fff; }
  /* line 618, ../sass/components/_openchurch-features.scss */
  #openchurch-homepage-rotator h3 a {
    color: #a3d183; }
    /* line 621, ../sass/components/_openchurch-features.scss */
    #openchurch-homepage-rotator h3 a:hover {
      color: #efefef; }
/* line 627, ../sass/components/_openchurch-features.scss */
#openchurch-homepage-rotator .views-field-field-short-desc {
  padding: 1em; }

/*************************************
  Video Page
*************************************/
/* line 637, ../sass/components/_openchurch-features.scss */
.openchurch-video .attachment-before .views-field-field-oc-video {
  margin-bottom: 1em; }

/* line 643, ../sass/components/_openchurch-features.scss */
.openchurch-video .view-content {
  padding-top: 1em; }

/* line 644, ../sass/components/_openchurch-features.scss */
.openchurch-video .views-row {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc; }

/* line 647, ../sass/components/_openchurch-features.scss */
.openchurch-video .views-row h3 {
  font-size: 1.4em;
  margin-bottom: .3em;
  font-weight: normal; }

/* line 651, ../sass/components/_openchurch-features.scss */
.openchurch-video .views-field-field-oc-video img {
  border: 5px solid #EFEFEF;
  float: left;
  margin-right: 10px; }

/* line 655, ../sass/components/_openchurch-features.scss */
.openchurch-video .view-content .views-row {
  min-height: 140px;
  clear: both; }

/* line 658, ../sass/components/_openchurch-features.scss */
.openchurch-video .attachment-before .view-content .views-row {
  min-height: 0; }

/* line 662, ../sass/components/_openchurch-features.scss */
body.node-type-openchurch-video .node-openchurch-video .field-name-body {
  margin-top: 1em; }

/*************************************
  Simplenews Block
*************************************/
/* line 669, ../sass/components/_openchurch-features.scss */
.block-simplenews {
  position: relative; }

/* line 672, ../sass/components/_openchurch-features.scss */
.block-simplenews input.form-text {
  border: 1px solid #7e8689;
  color: #5d6265;
  text-indent: .3em;
  width: 18em;
  height: 20px;
  line-height: 18px;
  text-indent: .3em;
  font-size: 1em; }

/* line 682, ../sass/components/_openchurch-features.scss */
.block-simplenews input.form-submit {
  border: 1px solid #7e8689;
  background: #b4c3c8;
  color: #5d6265;
  cursor: pointer;
  margin: 0;
  padding: 0;
  height: 25px;
  width: 7.5em; }

/* line 692, ../sass/components/_openchurch-features.scss */
.block-simplenews .feed-icon {
  position: absolute;
  right: 1.2em;
  bottom: .5em; }

/*************************************
  Facebook Block
*************************************/
/* line 699, ../sass/components/_openchurch-features.scss */
.pane-chenal-facebook-chenal-facebook {
  background: #fff;
  margin-bottom: 20px; }
  /* line 703, ../sass/components/_openchurch-features.scss */
  .pane-chenal-facebook-chenal-facebook .title-wrapper {
    margin-bottom: 0; }
  /* line 707, ../sass/components/_openchurch-features.scss */
  .pane-chenal-facebook-chenal-facebook img {
    float: left;
    margin: 0 15px 10px 0;
    border: 1px solid #ccc; }
  /* line 713, ../sass/components/_openchurch-features.scss */
  .pane-chenal-facebook-chenal-facebook .facebook-item {
    border-bottom: 1px solid #ccc;
    padding: 1em;
    margin: 1em; }
  /* line 719, ../sass/components/_openchurch-features.scss */
  .pane-chenal-facebook-chenal-facebook .view-more {
    background: #333;
    display: block;
    text-align: center;
    font-size: 14px;
    padding: .5em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
    /* line 728, ../sass/components/_openchurch-features.scss */
    .pane-chenal-facebook-chenal-facebook .view-more a {
      color: #fff; }
      /* line 731, ../sass/components/_openchurch-features.scss */
      .pane-chenal-facebook-chenal-facebook .view-more a:hover {
        color: #f2c418; }

/* line 4, ../sass/components/_openchurch.scss */
body .l-header, body .l-main, body .l-footer {
  max-width: 960px; }
/* line 8, ../sass/components/_openchurch.scss */
body .l-header {
  text-align: center; }
  /* line 11, ../sass/components/_openchurch.scss */
  body .l-header .site-logo img {
    width: 50%; }
/* line 20, ../sass/components/_openchurch.scss */
body .l-footer .block {
  background: #c6bfb5;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
  /* line 25, ../sass/components/_openchurch.scss */
  body .l-footer .block .block__content {
    padding: 0 10px 0 15px;
    margin-bottom: 15px; }
/* line 31, ../sass/components/_openchurch.scss */
body .l-footer #copyright {
  clear: both;
  text-align: center;
  margin-right: 15px;
  float: left;
  width: 100%; }
  /* line 38, ../sass/components/_openchurch.scss */
  body .l-footer #copyright h5 {
    margin: 0; }
/* line 46, ../sass/components/_openchurch.scss */
body #block-block-3 img {
  width: 56%; }
/* line 53, ../sass/components/_openchurch.scss */
body #block-block-5 p {
  margin: 0;
  padding: 0; }
/* line 60, ../sass/components/_openchurch.scss */
body #block-menu-menu-social-links {
  width: 80%;
  background: #a3d183;
  margin: 0 auto;
  height: 40px; }
  /* line 66, ../sass/components/_openchurch.scss */
  body #block-menu-menu-social-links .menu {
    margin: 0 auto;
    padding: 0;
    width: 100%; }
    /* line 71, ../sass/components/_openchurch.scss */
    body #block-menu-menu-social-links .menu .leaf {
      list-style: none;
      display: inline;
      margin: 0;
      padding: 0;
      color: #fff;
      font-size: 20px; }
      /* line 79, ../sass/components/_openchurch.scss */
      body #block-menu-menu-social-links .menu .leaf a {
        color: #fff; }
        /* line 82, ../sass/components/_openchurch.scss */
        body #block-menu-menu-social-links .menu .leaf a:hover {
          color: #666; }
      /* line 87, ../sass/components/_openchurch.scss */
      body #block-menu-menu-social-links .menu .leaf span.fa {
        display: block;
        float: left;
        width: 40px;
        text-align: center;
        margin-top: 11px; }
      /* line 95, ../sass/components/_openchurch.scss */
      body #block-menu-menu-social-links .menu .leaf span.link {
        display: none; }
/* line 104, ../sass/components/_openchurch.scss */
body #search-block-form input.form-text {
  border: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 80%;
  font: 12px/20px Arial, Helvetica, sans-serif;
  height: 40px;
  padding: 10px 55px 10px 15px;
  display: inline; }
/* line 117, ../sass/components/_openchurch.scss */
body #search-block-form input.form-submit {
  background: white url(../images/search-icon.png) no-repeat center center;
  width: 40px;
  height: 40px;
  text-indent: -5000px;
  overflow: hidden;
  border: 0;
  display: inline;
  position: absolute;
  right: 10%; }
/* line 129, ../sass/components/_openchurch.scss */
body #search-block-form input.form-submit:hover {
  background-color: #efefef; }
/* line 134, ../sass/components/_openchurch.scss */
body .l-page {
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(bottom, white 0%, #efefef 80%, #4d9d45 200%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom, white 0%, #efefef 80%, #4d9d45 200%);
  /* Opera */
  background-image: -o-linear-gradient(bottom, white 0%, #efefef 80%, #4d9d45 200%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(0.8, #efefef), color-stop(2, #4d9d45));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom, white 0%, #efefef 80%, #4d9d45 200%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to top, #ffffff 0%, #efefef 80%, #4d9d45 200%); }
/* line 157, ../sass/components/_openchurch.scss */
body .l-main .block .block__content {
  background: #c6bfb5;
  padding: 15px 16px 29px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
/* line 165, ../sass/components/_openchurch.scss */
body .l-main .l-content article, body .l-main .l-content .view-mode-full {
  background: #fff;
  padding: 15px 16px 29px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
@media (min-width: 44em) {
  /* line 174, ../sass/components/_openchurch.scss */
  body .l-branding {
    width: 28%; }
  /* line 178, ../sass/components/_openchurch.scss */
  body .l-header {
    text-align: center; }
    /* line 181, ../sass/components/_openchurch.scss */
    body .l-header .site-logo img {
      width: inherit;
      margin-top: 49px; }
  /* line 187, ../sass/components/_openchurch.scss */
  body .l-region--header {
    margin: 60px 0 40px;
    width: 69%; }
    /* line 191, ../sass/components/_openchurch.scss */
    body .l-region--header .block {
      float: right; }
  /* line 195, ../sass/components/_openchurch.scss */
  body .l-region--navigation {
    clear: right;
    float: right;
    width: 69%; }
  /* line 202, ../sass/components/_openchurch.scss */
  body .l-footer .block {
    width: 32%;
    float: left;
    margin-right: 2%; }
  /* line 208, ../sass/components/_openchurch.scss */
  body .l-footer .block:last-child {
    margin-right: 0; }
  /* line 212, ../sass/components/_openchurch.scss */
  body .l-footer #copyright {
    margin-top: 20px; }
  /* line 218, ../sass/components/_openchurch.scss */
  body .l-main .block {
    margin-bottom: 30px; }
  /* line 225, ../sass/components/_openchurch.scss */
  body #search-block-form input.form-text {
    display: block;
    float: left;
    width: 200px;
    border-radius: 0; }
  /* line 232, ../sass/components/_openchurch.scss */
  body #search-block-form input.form-submit {
    position: static;
    right: 0;
    border-radius: 0; }
  /* line 240, ../sass/components/_openchurch.scss */
  body #block-menu-menu-social-links {
    width: 204px;
    margin: 0; }
    /* line 244, ../sass/components/_openchurch.scss */
    body #block-menu-menu-social-links .menu {
      margin: 0; } }
@media (min-width: 70em) {
  /* line 250, ../sass/components/_openchurch.scss */
  body .l-branding {
    width: 28%; }
  /* line 256, ../sass/components/_openchurch.scss */
  body #search-block-form input.form-text {
    width: 300px; } }

/* line 263, ../sass/components/_openchurch.scss */
.not-front .l-content .view {
  padding: 1em;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

/* line 270, ../sass/components/_openchurch.scss */
.l-content .pane-content .field--name-body {
  background: #fff;
  padding: 1em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
