/*******************************************************************************
 * simple.layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
/* line 30, ../sass/simple.layout.scss */
.l-header,
.l-main,
.l-footer {
  *zoom: 1;
  max-width: 1190px;
  _width: 1190px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; }
  /* line 38, ../../../../../../../../../Users/jrcallicott/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .l-header:after,
  .l-main:after,
  .l-footer:after {
    content: "";
    display: table;
    clear: both; }

/* line 35, ../sass/simple.layout.scss */
body .l-header {
  padding-left: 0; }

/* line 42, ../sass/simple.layout.scss */
.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: 20px; }

@media (min-width: 44em) {
  /* line 49, ../sass/simple.layout.scss */
  .l-header,
  .l-main,
  .l-footer {
    max-width: 1190px; }

  /* line 53, ../sass/simple.layout.scss */
  .l-branding {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%; }

  /* line 56, ../sass/simple.layout.scss */
  .l-region--header {
    width: 66.10169%;
    float: right;
    margin-right: 0; }

  /* line 59, ../sass/simple.layout.scss */
  .l-region--navigation {
    clear: both; }

  /* line 66, ../sass/simple.layout.scss */
  .has-sidebar-first .l-content,
  .has-sidebar-second .l-content,
  .has-two-sidebars .l-content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%; }
  /* line 70, ../sass/simple.layout.scss */
  .has-sidebar-first .l-region--sidebar-first,
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-first,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 32.20339%;
    float: right;
    margin-right: 0; }
  /* line 73, ../sass/simple.layout.scss */
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-second {
    clear: right; } }
@media (min-width: 70em) {
  /* line 82, ../sass/simple.layout.scss */
  .l-header,
  .l-main,
  .l-footer {
    max-width: 1190px; }

  /* line 86, ../sass/simple.layout.scss */
  .l-branding {
    width: 36.70886%;
    float: left;
    margin-right: 1.26582%; }

  /* line 89, ../sass/simple.layout.scss */
  .l-region--header {
    width: 62.02532%;
    float: right;
    margin-right: 0; }

  /* line 94, ../sass/simple.layout.scss */
  .has-sidebar-first .l-content {
    width: 62.02532%;
    float: right;
    margin-right: 0; }
  /* line 97, ../sass/simple.layout.scss */
  .has-sidebar-first .l-region--sidebar-first {
    width: 36.70886%;
    float: left;
    margin-right: 1.26582%; }

  /* line 102, ../sass/simple.layout.scss */
  .has-sidebar-second .l-content {
    width: 68.35443%;
    float: left;
    margin-right: 1.26582%; }
  /* line 105, ../sass/simple.layout.scss */
  .has-sidebar-second .l-region--sidebar-second {
    width: 30.37975%;
    float: right;
    margin-right: 0;
    clear: none; }

  /* line 112, ../sass/simple.layout.scss */
  .has-two-sidebars .l-content {
    width: 49.36709%;
    float: left;
    margin-right: 1.26582%;
    margin-left: 25.31646%; }
  /* line 117, ../sass/simple.layout.scss */
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%; }
  /* line 120, ../sass/simple.layout.scss */
  .has-two-sidebars .l-region--sidebar-first {
    margin-left: -75.94937%; }
  /* line 123, ../sass/simple.layout.scss */
  .has-two-sidebars .l-region--sidebar-second {
    float: right;
    margin-right: 0;
    clear: none; } }
